# Packages and native-comp cache
elpa/
eln-cache/

# Autosave, lockfiles, backups
auto-save-list/
*~
\#*\#
.\#*

# Byte-compiled
*.elc

# Emacs runtime junk
recentf
tramp
url/
var/
ido.last
amx-items
smex-items
projectile-bookmarks.eld
.org-id-locations
places
custom.el
.cache
